html{
    height:100%;
}


#frame {
    width: 1100px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#headerleft {
    width: 230px;
    height: 160px;
    float: left;
    margin-left: auto;
    cursor: pointer;
    
    font-size: 14px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";
    position:absolute;
    
}


#headerright {
    width: 240px;
    height: 160px;
    float:right;

    text-align: right;
    font-size: 20px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";
}

#menubox{
    width: 1095px;
    height: 50px;
    border: 2px solid rgb(241, 240, 240);
    border-radius: 10px;
    float:left;
    margin-bottom: 15px;
    margin-top:5px;
}

.custom-button,

.custom-button:visited {
      margin-left:150px;
      display: inline-block;
      padding: 15px;
      padding-left:60px;
      
      text-decoration: none;
      font-size: 16px;
      color: #777;
      font-family: "Arial";
}

.custom-button:hover {
      text-decoration: underline;
      color:rgb(76, 134, 136);
}

#search{
    position: relative;
    left: 25px;
    top: 67px;
    
    width: 185px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(76, 134, 136);
    border-color: rgb(76, 134, 136);
    border-radius: 12px;
    padding-left: 10px;
}


#receptkereso{
    width: 250px;
    height: 120px;
    background-color: rgba(245,247,248,255);
    border: 2px solid rgb(241, 240, 240);
    float: left;
    border-radius: 10px;
    
}

#receptkeresotext{
    width: 240px;
    height: 35px;
    font-size: 15px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 2px solid rgb(241, 240, 240);
    background-color: white;
    position:relative;
    bottom: 45px;

    font-size: 18px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 13px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";
}

#receptframe {
    width: 840px;
    height: 1000px;
    
    float: right;
    border-radius: 10px;
}

.recipedisplay{
    width: 250px;
    height: 250px;
    float: left;
    border: 2px solid rgb(241, 240, 240);
    border-radius: 10px;
    margin-left: 26px;
    margin-bottom: 15px;
    background-color: rgba(245,247,248,255);
    cursor: pointer;

    color: #777;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    
}

#randomrecept {
    width: 250px;
    height: 120px;
    border: 2px solid rgb(241, 240, 240);
    float: left;
    position: relative;
    top:20px;
    border-radius: 10px;
    background-color: rgba(245,247,248,255);
    margin-bottom:20px;
}

#randomrecepttext{
    width: 240px;
    height: 35px;
    font-size: 15px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 2px solid rgb(241, 240, 240);
    background-color: white;

    font-size: 18px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 13px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";
}


#randombutton{
    width: 200px;
    height: 40px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    position: relative;
    left: 22px;
    top: 15px;
    cursor: pointer;
    
    font-size: 18px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}

#category{
    width: 250px;
    height: 300px;
    border: 2px solid rgb(241, 240, 240);
    float: left;
    position: relative;
    top:20px;
    border-radius: 10px;
    background-color: rgba(245,247,248,255);
}

.timeofdaybutton{
    width: 200px;
    height: 40px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    position: relative;
    left: 22px;
    top: 15px;
    cursor: pointer;
    margin-top:20px;
    margin-bottom:10px;
    
    font-size: 18px;
    color:white;
    font-weight: bold;
    font-family: "Arial";

}

#userimage{
    max-width: 20px;
    height: auto;
}

.login{
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(76, 134, 136);
    border-color: rgb(76, 134, 136);
    border-radius: 12px;
    padding-left: 10px;
    position:relative;
    top:5px;
    bottom:5px;
    
    font-size: 13px; 
    font-weight: bold;
    font-family: "Arial";
}

#logoutbutton{
    width: 100px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:10px;

    font-size: 12px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}


#loginbutton{
    width: 100px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:10px;

    font-size: 12px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}

#adminbutton{
    margin-top:5px;
    
    width: 100px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:10px;

    font-size: 12px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}


/* newrecipepage*/
#recipebox{
    width: 1100px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    float:left;
    border:0px;

    font-weight: normal;
    padding-left: 10px;
}

#recipename{
    width: 600px;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-left: 10px;
    position:relative;
    top:5px;
    bottom:5px;
    
    font-size: 15px; 
    
    font-family: "Arial";
}

  select {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    
    color: #333;
    border-radius: 5px;
  }
  
  select option {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    
    color: #333;
  }

  .recipeinput {
    height: 160px; 
    width: 600px; 
    resize: none; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-left: 10px;
    position:relative;
    top:5px;
    bottom:5px;
    padding:10px;
    
    font-size: 15px; 
    font-family: "Arial";
  }

  #uploaddiv{
    position:relative;
    width:200px;
    height: 200px;
    bottom:850px;
    left:800px;
    color:#777;
  }

  #uploaddiv img{
    width: 150px;
    height: 150px;
  }

  #modifyerror{
    font-size: 18px; 
    font-family: "Arial";
    color:red;
  }

  #uploaderror{
    font-size: 18px; 
    font-family: "Arial";
    color:red;
  }

  /* recipepage*/
  #displayframe{
    width: 1100px;
    height: 1000px;
    float:left;
    
    border-radius:10px;

}

li{
    margin: 4px 0;
}

h1{
    text-align: left;
    padding-left: 15px;
    color:#777;
    font-weight: bold;
    font-family: "Arial";
}

#recipeimage{
    width: 600px;
    height:500px;
    float:left;
    padding:15px;
    border-radius:5%;
    position:relative;
    top:2px;
}

#generalinfo{
    width:360px;
    height:38px;
    position:relative;
    right:10px;
    
    border: 2px solid rgb(241, 240, 240);
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    
    text-align:center;
    padding-top:12px;
    font-size:25px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";

}

#general{
    width:350px;
    height: 492px;
    float:left;
    border:1px solid black;
    margin-left: 70px;
    border: 2px solid rgb(241, 240, 240);
    padding-left:10px;
    border-radius:10px;
    background-color: rgba(245,247,248,255);

    font-size:16px;
    color:#777;
    font-family: "Arial";
}

ul{
    list-style: none;
}

#instructiontext{
    width: 1040px;
    height: 38px;
    float:left;
    position:relative;
    right:10px;

    border: 2px solid rgb(241, 240, 240);
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;

    text-align:left;
    padding-left:10px;
    padding-top:12px;
    font-size:25px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";


}

#instructions{
    width:1030px;
    height:200px;
    border: 1px solid black;
    float:left;
    position:relative;
    right:7px;
    top:20px;
    margin-top: 10px;
    margin-left:20px;
    border: 2px solid rgb(241, 240, 240);
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;

    background-color: rgba(245,247,248,255);
    font-size:16px;
    color:#777;
    font-family: "Arial";
    text-align: justify;
    line-height: 23px;
}

#recipenamerow {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #buttonrow{
    display: flex;
    gap: 10px;

    height:50px;
    width: 1100px;
    position:relative;
    top:50px;

 }

#favoritebutton{

    width: 130px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    margin-left:12px;
    
    font-size: 18px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}

#deletebutton{

   
  
    width: 130px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    margin-left:5px;
    
    font-size: 18px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}

#modifybutton{
 
    width: 130px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    margin-left:5px;
    
    font-size: 18px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}

#removefavoritebutton{
    
  
    width: 130px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    margin-left:5px;
    
    font-size: 10px;
    color:white;
    font-weight: bold;
    font-family: "Arial";
}

/* loginpage*/
#headerlogin{
    width: 230px;
    height: 160px;
    margin: auto;
    position: relative;
    top:10px;
    left:40%;
    cursor:pointer;

    font-size: 14px;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";
    position:absolute;
}

#headerloginbutton{
    width: 100px;
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    top: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
}

#colorbuttongreen{
    background-color: rgb(76, 134, 136);
    width: 47px;
    height: 20px;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:15px;
}

#colorbuttonbrown{
    background-color: #5C2C06;
    width: 47px;
    height: 20px;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:15px;
}

#badsignuplogin{
    font-size: 16px;
    color:red;
    font-weight: bold;
    font-family: "Arial";
    
}

#signuperror{
    font-size: 16px;
    color:red;
    font-weight: bold;
    font-family: "Arial";
    
}

#loginframe{
    width: 500px;
    height: 450px;
    border: 2px solid rgb(241, 240, 240);
    border-radius: 10px;
    position: relative;
    top:170px;
    left:215px;

    padding:10px;
    text-align:center;
    color:rgb(76, 134, 136);
    font-weight: bold;
    font-family: "Arial";
}

.logininlogin{
    width:300px;
    height:30px;
    padding:2px;
    border: none;
    border-bottom: 2px solid rgb(241, 240, 240); 

}

input:focus {
    outline: none;
}

#loginbutton{
    width: 250px;
    height: 40px;
    
}

#redirect2signup{
    text-align:center;
    color:#777;
    font-weight: bold;
    font-family: "Arial";
    font-size: 12px;
    text-decoration: none;
}

#redirect2signup:hover {
    text-decoration: underline;
}

h1#newrecipetext {
    text-align: center;
    color: rgb(76, 134, 136);
}

#smalllogoutbutton{
    width: 100px; 
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:10px;

    font-size: 12px;
    color:white;
    font-weight: bold;
    font-family: 'Arial';
}

h2#nohit{
    text-align:center;
    color: rgb(76, 134, 136);
}

h1#modifyrecipetext{
    text-align: center; 
    color: rgb(76, 134, 136);
}

/* footer */

#footer{
    background-color: rgb(76, 134, 136);
    position: absolute;
    bottom: -45%;
    width: 100%;
    height: 125px;
}

#footercontent{
    width:1100px;
    height:125px;
    margin-left: auto;
    margin-right: auto;

}

#footertext{
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:20px;
    line-height: 20px;
}

#uploadrecipebutton{
    width: 100px; 
    height: 30px;
    background-color: rgb(76, 134, 136);
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    top:10px;

    font-size: 12px;
    color:white;
    font-weight: bold;
    font-family: 'Arial';
}

/* Moderacio oldal*/

.table{
    border-collapse: collapse;
    width:  1000px;
    border:1px solid black;
    text-align:center;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}


